$headingFont: 'Stone Informal ITC W04 Medium';
$regularFont:'Aileron', 'Helvetica Neue', Helvetica, Arial, 'sans serif';

$primaryBlue: #004b8d;
$darkBlue: #002b5c;
$lightBlue: #084eb2;
$blueGrey: #c1d2e2;;
$coolGrey: #e5e9f2; ;
$borderGrey: #e2e4e8;
$lightGrey: #f2f4f8;
$greyBackground: #f3f5f9;
$textColor: #474747;
$greyText: #999999;

$baseFontSize: 14px;